*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
image{
    display: block;
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    color: #D6D6D6;
    font-family: "微软雅黑";
}
textarea{
    resize: vertical;
}