@import url(base.css);
.top{
    width: 100%;
    height: 74px;
}
.top nav{
    width: 1349px;
    height: 74px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: 0;
    left:0 ;
}
.top nav img{
    position: absolute;
    left:71px;
    top: 8px;
}
.top nav ul{
    width: 1170px;
    height: 64px;
    margin: 5px auto;
}
.top nav ul li{
    width: 106px;
    height: 64px;
    float: right;
    line-height: 64px;
    text-align: center;
}
.top nav ul li:nth-child(2){
    background-color: #F21F1F;
}
.top nav ul li:nth-child(2) a{
    color: #FFFFFF;
}
.top nav ul li:hover{
    background-color: #F21F1F;
}
.top nav ul li:hover a{
    color: #FFFFFF;
}
.top nav ul li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #666666;
    font-size: 13px;
    font-weight: bold;
}
.datu{
    width: 1259px;
    height: 113px;
    margin: 0 auto;
}
.datu img{
    width: 100%;
    height: auto;
    opacity: 0.6;
}
.title{
    width: 1259px;
    height: 46px;
    margin: 0 auto;
    padding-top: 30px;
    border-bottom: 1px solid #DDDDDD;
}
.title p{
    width: 1179px;
    height: 16px;
    padding: 0 40px;
    font-size: 12px;
}
.title p span{
    margin-right: 5px;
}
.title p span{
    margin-right: 5px;
}






section{
    width: 1349px;
    height: auto;
    margin: 0 auto;
}
section .box{
    width: 1349px;
    height: 401px;
    margin: 0 auto;
    padding-top: 50px;
}
section .box .box1{
    width: 1220px;
    height: 401px;
    padding:0 40px;
    margin: 0 auto;
}
section .box .box1 .box11{
    width: 273px;
    height: 387px;
    float: left;
    margin-right: 30px;
    padding-top: 10px;
    border: 1px solid #E0E0E0;
    transition:  transform 0.3s;
    position: relative;
}
section .box .box1 .box11 .line{
    width: 0;
    height: 1px;
    background-color: red;
    position: absolute;
    top: 195px;
    transition: all 0.3s linear;
}
section .box .box1 .box11:hover .line{
    width: 273px;
}
section .bottom{
    margin-bottom: 100px;
}
section .box .box1 .box11:first-child{
    margin-left: 15px;
}

section .box .box1 .box11:hover{
    transform: translate(0,-15px);
    box-shadow: 0 5px 20px 5px rgba(0, 0, 0,0.2);
}
section .box .box1 .box11:hover img{
    transform: scale(1.3, 1.3) rotate(360deg);
}
section .box .box1 .box11:nth-child(4){
    margin-right: 0;
}
section .box .box1 .box11 .box2{
    width: 233px;
    height: 100px;
    padding: 25px 20px 5px;
}
section .box .box1 .box11 .box2 img{
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    transition:  transform 0.3s;
}
section .box .box1 .box11 .box3{
    width: 273px;
    height: 25px;
    padding: 15px 0;
    border-bottom: 1px solid #E8E8E8;
}
section .box .box1 .box11 .box3 span{
    display: inline-block;
    width: 273px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}
section .box .box1 .box11 .box4{
    width: 233px;
    height: 147px;
    padding: 32px 20px 20px;

}
section .box .box1 .box11 .box4 span{
    font-size: 14px;
    color: rgb(128, 128, 128);
    line-height: 26px;
}




.end{
    width: 1349px;
    height: 228px;
    margin: 0 auto;
    padding-top: 40px;
    background-color: #f7f7f7;
}
.end .box{
    height: 228px;
    width: 1190px;
    padding:0  40px;
    margin: 0 auto;
}
.end .box .end1,.end .box .end2,.end .box .end3{
    width: 32.4%;
    height: 208px;
    float: left;
    padding: 20px 5px 0;
}
.end .box .end1 form textarea{
    width: 380px;
    height: 60px;
    padding: 2px;
    outline: 0;
    border: 0;
    margin-bottom: 6px;
    background-color: #EDEDED;
}
.end .box .end1 form textarea::-moz-placeholder{
    font-size: 16px;
    color: #C3C3C3;
}
.end .box .end1 form input{
    width: 380px;
    height: 19px;
    padding: 2px;
    margin-bottom: 3px;
    border: 0;
    outline: 0;
    background-color: #EDEDED;
}
.end .box .end1 form input::-moz-placeholder{
    font-size: 16px;
    color: #C3C3C3;
}
.end .box .end1 .yanzheng{
    width: 110px;
    height: 30px;
    position: relative;
    margin-bottom: 20px;
}
.end .box .end1 img{
    display: block;
}
.end .box .end1 .yanz1{
    width: 110px;
    height: 30px;
    opacity: 0;
    background-color: #FFFFFF;
    transition: 0.3s;
    position: absolute;
    top: 0;
    left: 0;
}
.end .box .end1 .yanz2{
    margin: 0 auto;
    margin-top: 3px;
}
.end .box .end1 .yanzheng:hover .yanz1{
    opacity: 0.6;
}


.end .box .end1 button{
    width: 110px;
    height: 32px;
    border: 0;
    background-color: #F21F1F;
    color: #FFFFFF;
}
.end .box .end2 .top{
    width: auto;
    height: 48px;
    padding: 10px 0 6px 15px;
    background-color: #EDEDED;
    margin-bottom: 10px;
}
.end .box .end2 .top span{
    width: 170px;
    height: 17px;
    font-size: 13px;
    font-weight: 700;
}
.end .box .end2 .top p{
    margin-top: 3px;
}
.end .box .end2 .top p span{
    font-size: 12px;
    color: #333333;
    font-weight: 400;
}
.end .box .end2 .bottom{
    height: 77px;
    padding: 4px 0 2px 15px;
    background-color: #EDEDED;
}
.end .box .end2 .bottom span{
    display: block;
    width: auto;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    color: #333333;
    font-weight: 400;
}
.end .box .end3 .top{
    width: auto;
    height: 56px;
    padding: 4px 0 3px 10px;
    background-color: #EDEDED;
    margin-bottom: 10px;
}
.end .box .end3 .top img{
    width: 38px;
    height: 40px;
    padding: 4px;
    float: left;
}
.end .box .end3 .top p{
    width: 320px;
    height: 48px;
    padding: 4px;
    float: left;
}
.end .box .end3 .top p span{
    width: 320px;
    height: 24px;
    font-size: 12px;
    font-weight: 700;
    display: block;
    line-height: 24px;
}
.end .box .end3 .bottom{
    width: auto;
    height: 26px;
    padding: 4px 0 55px 17px;
    background-color: #EDEDED;
}
.end .box .end3 .bottom span{
    font-size: 12px;
    font-weight: 700;
    display: block;
    height: 24px;
    line-height: 24px;
}