@import url(base.css);
.top{
    width: 100%;
    height: 74px;
}
.top nav{
    width: 1349px;
    height: 74px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: 0;
    left:0 ;
}
.top nav img{
    position: absolute;
    left:71px;
    top: 8px;
}
.top nav ul{
    width: 1170px;
    height: 64px;
    margin: 5px auto;
}
.top nav ul li{
    width: 106px;
    height: 64px;
    float: right;
    line-height: 64px;
    text-align: center;
}
.top nav ul li:hover{
    background-color: #F21F1F;
}
.top nav ul li:hover a{
    color: #FFFFFF;
}
.top nav ul li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #666666;
    font-size: 13px;
    font-weight: bold;
}

section{
    width: 1349px;
    height: 668px;
    padding-top: 80px;
    padding-bottom: 100px;
    border-top: 1px solid #E2E2E2;
    margin: 0 auto;
}
section .box{
    width: 1200px;
    height: 668px;
    padding: 0 40px;
    margin: 0 auto;

}
section .box .left{
    width: 890px;
    height: 389px;
    padding: 0 5px;
    float: left;
}
section .box .left h2{
    width: 810px;
    height: 35px;
    padding-bottom: 20px;
    padding-top: 7px;
    font-size: 26px;
    line-height: 35px;
    font-weight: normal;
    font-style: normal;
    color: #191919;
}
section .box .left h3{
    width: 810px;
    height: 21px;
    padding-bottom: 19px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 21px;
}
section .box .left .p1{
    width: 810px;
    height: auto;
    padding-top: 31px;
    padding-bottom: 23px;
}
section .box .left .p1 span{
    width: 810px;
    height: auto;
    font-size: 14px;
    color: rgb(128, 128, 128);
    line-height: 25px;
}
section .box .left .p2{
    overflow: hidden;
}
section .box .left .p2 span{
    display: block;
    width: 385px;
    height: 23px;
    padding: 10px;
    float: left;

}
section .box .left .p2 span a{
    display: block;
    height: 21px;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    overflow: hidden;
    color: #606060;

}
section .box .left .p2 span:nth-child(2) a{
   float: right;
}
section .box .left .p2 span:nth-child(2) a:nth-child(1){
   margin-left: 10px;
}
section .box .left .bottom{
    width: 128px;
    height: 18px;
    padding-top: 19px;
}
section .box .left .bottom span{
    display: block;
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 4px;
}
section .box .left .bottom span:nth-child(1){
    width: auto;
    height: 18px;
    color: #000000;
    font-size: 16px;
    line-height: 18px;
    margin-right: 0;
}
section .box .left .bottom span:nth-child(2){
    background-image: url("../img/shouye/jiathis_ico.png");
    background-position: 0 -1809px;
}
section .box .left .bottom span:nth-child(3){
    background-image: url("../img/shouye/jiathis_ico.png");
    background-position: 0 -688px;
}
section .box .left .bottom span:nth-child(4){
    background-image: url("../img/shouye/jiathis_ico.png");
    background-position: 0 -1969px;
}
section .box .right{
    width: 290px;
    height: 657px;
    float: right;
    margin-right: 5px;
    padding-top: 11px;
}
section .box .right ul{
    width: 290px;
    height: 657px;
}
section .box .right ul li{
    width: 279px;
    height: 42px;
    padding: 0 5px 15px;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 15px;
}
section .box .right ul li a{
    display: block;
    width: 274px;
    height: 15px;
    margin-bottom: 10px;
    color: #373A41;
    font-size: 15px;
    line-height: 15px;
}
section .box .right ul li span{
    display: block;
    width: 274px;
    height: 12px;
    margin-bottom: 5px;
    color: #bfbfbf;
    font-size: 12px;
    line-height: 12px;
}




.end{
    width: 1349px;
    height: 228px;
    margin: 0 auto;
    padding-top: 40px;
    background-color: #f7f7f7;
}
.end .box{
    height: 228px;
    width: 1190px;
    padding:0  40px;
    margin: 0 auto;
}
.end .box .end1,.end .box .end2,.end .box .end3{
    width: 32.4%;
    height: 208px;
    float: left;
    padding: 20px 5px 0;
}
.end .box .end1 form textarea{
    width: 380px;
    height: 60px;
    padding: 2px;
    outline: 0;
    border: 0;
    margin-bottom: 6px;
    background-color: #EDEDED;
}
.end .box .end1 form textarea::-moz-placeholder{
    font-size: 16px;
    color: #C3C3C3;
}
.end .box .end1 form input{
    width: 380px;
    height: 19px;
    padding: 2px;
    margin-bottom: 3px;
    border: 0;
    outline: 0;
    background-color: #EDEDED;
}
.end .box .end1 form input::-moz-placeholder{
    font-size: 16px;
    color: #C3C3C3;
}
.end .box .end1 .yanzheng{
    width: 110px;
    height: 30px;
    position: relative;
    margin-bottom: 20px;
}
.end .box .end1 img{
    display: block;
}
.end .box .end1 .yanz1{
    width: 110px;
    height: 30px;
    opacity: 0;
    background-color: #FFFFFF;
    transition: 0.3s;
    position: absolute;
    top: 0;
    left: 0;
}
.end .box .end1 .yanz2{
    margin: 0 auto;
    margin-top: 3px;
}
.end .box .end1 .yanzheng:hover .yanz1{
    opacity: 0.6;
}


.end .box .end1 button{
    width: 110px;
    height: 32px;
    border: 0;
    background-color: #F21F1F;
    color: #FFFFFF;
}
.end .box .end2 .top{
    width: auto;
    height: 48px;
    padding: 10px 0 6px 15px;
    background-color: #EDEDED;
    margin-bottom: 10px;
}
.end .box .end2 .top span{
    width: 170px;
    height: 17px;
    font-size: 13px;
    font-weight: 700;
}
.end .box .end2 .top p{
    margin-top: 3px;
}
.end .box .end2 .top p span{
    font-size: 12px;
    color: #333333;
    font-weight: 400;
}
.end .box .end2 .bottom{
    height: 77px;
    padding: 4px 0 2px 15px;
    background-color: #EDEDED;
}
.end .box .end2 .bottom span{
    display: block;
    width: auto;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    color: #333333;
    font-weight: 400;
}
.end .box .end3 .top{
    width: auto;
    height: 56px;
    padding: 4px 0 3px 10px;
    background-color: #EDEDED;
    margin-bottom: 10px;
}
.end .box .end3 .top img{
    width: 38px;
    height: 40px;
    padding: 4px;
    float: left;
}
.end .box .end3 .top p{
    width: 320px;
    height: 48px;
    padding: 4px;
    float: left;
}
.end .box .end3 .top p span{
    width: 320px;
    height: 24px;
    font-size: 12px;
    font-weight: 700;
    display: block;
    line-height: 24px;
}
.end .box .end3 .bottom{
    width: auto;
    height: 26px;
    padding: 4px 0 55px 17px;
    background-color: #EDEDED;
}
.end .box .end3 .bottom span{
    font-size: 12px;
    font-weight: 700;
    display: block;
    height: 24px;
    line-height: 24px;
}